
<span>showing {{data.length}} companies</span>
<span><a href='#/vis'><button>visualization</button></a></span>

<table style="width:100%">
  <tr>
    <td ng-click="order(key)"><b>Company</b></td>
    <td ng-click="order('EmployeeCount')"><b>Employee Count</b></td>
    <td ng-click="order('Product')"><b>Product</b></td>
    <td ng-click="order('Scored')"><b>Score</b></td>
    <td ng-click="order('OpportunityCreated')"><b>Opportunity Created</b></td>
  </tr>
  <tr ng-repeat="company in data | orderBy:predicate:reverse">
    <td> {{ company.Company }} </td>
    <td> {{ company.EmployeeCount }} </td>
    <td> {{ company.Product }} </td>
    <td> {{ company.Scored }} </td>
    <td> {{ company.OpportunityCreated }} </td>
  </tr>
</table>